<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArrayStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ClassAndStructures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Closure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ConditionalStatements.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ControlFlow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ControlTransfer(continueBreakReturnThrow).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>DictionaryStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Enumerations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Inheritance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Methods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Properties.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Set.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>StringAndCharacter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>StringAndCharacters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Subscripts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>SwiftBasisStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>function.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9507AEF81BDFA40F00052869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>952F9D2E1BE25510003BA320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953D851B1BDCFCB000BED5F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>954FC6551BD7CDC600F41C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9551078E1BE78060006436A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>955107991BE7840A006436A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>955107A41BE78430006436A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>955107AF1BE78458006436A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95880D5A1BD3911500929F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9599D13F1BD65F58000FDC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9599D14A1BD66AB5000FDC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95ACF22A1BCE9FA9006B5261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B7202A1BCFDFC1005A2DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B720351BCFDFF2005A2DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B720401BCFEDDA005A2DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95EF6F2B1BD13735000E378A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95EF6F361BD13767000E378A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95EF6F411BD137B6000E378A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F2D35C1BE0F7F8007AD45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
